.fifth-container{
    padding:10px;
}
.fifth-first-box,.fifth-third-box{
    text-align: center;
}
.fifth-third-box button{
    border:none;
    border-radius: 5px;
    padding:7px 10px;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}
.card-container{
    width:250px;
    height: 300px;
    box-shadow:1px 1px 2px 2px rgba(0,0,0,0.2);
}
.card-container img{
    width: 100%;
    height:250px;
    background-size: contain;
    object-fit:fill;
}
.card-container p{
    text-align: center;
    margin-top: 10px;
}
.fifth-second-box{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.fifth-fourth-box{
    display:flex;
    justify-content: center;
    margin-top: 30px;
    flex:1;
    flex-wrap: wrap;
}
.fifth-six-box{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    padding:10px;
}
.fifth-six-inner-box{
    display: flex;
    gap:40px;
}
