.nav-container{
    display: flex;
    justify-content: space-between;
    padding:10px;
    background-color: rgb(236, 235, 235);
}
.nav-options ul{
    display: flex;
    list-style-type: none;
    gap:30px;
}
.nav-btn button{
    padding:7px 10px;
    border-radius: 5px;
    border:1px solid grey;
}
@media (max-width:550px){
.nav-title h6{
    font-size: 14px;
}
}
@media (max-width:504px){
    .nav-title h6{
        font-size: 12px;
    }
    .nav-options ul{
        gap:20px;
        font-size: 12px;
    }
    }
    @media (max-width:433px){
        .nav-title h6{
            font-size: 10px;
        }
        .nav-btn button{
         padding:4px 5px;
        }
        }

@media (max-width:398px){
    .nav-btn button{
        padding:4px 5px;
        font-size: 12px;
       }
}