.second-second-inner-box{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    background-color:rgb(219, 218, 218);
    height: 200px;
}
.second-box-common{
    height:260px;
    width:50%;
    padding:0 5px;
}
.second-first-inner-box{
    display: flex;
}
.second-box-contents{
    background-color:rgb(253, 251, 251);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.second-box-contents button{
    padding:7px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
#title-header{
    font-size: 18px;
}
.second-box-image{
overflow: hidden;
}
.second-box-image img{
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size:cover;
}