.third-box{
    display:flex;
}
.third-common{
    width:50%;
    height:400px;
    padding:10px;
}
.third-left-box{
    text-align: justify;
    padding:10px 30px;
}
.third-left-box button{
    padding:8px 10px;
    border-radius: 5px;
    border:1px solid grey;
}
.third-right-box{
    padding:10px;
}
.third-right-box img{
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size:cover;
}